<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Breakfast</title>
    <link rel="stylesheet" href="{% static 'recipe\breakfast\breakfast.css' %}">
</head>
<body>
<div id="header">
  <h1>Keto Breakfast Recipes</h1>
  
    </div>
  <div class="container">
  <div class="card">
    <div class="card-image">
      <img src="{% static 'recipe\breakfast\br1.png' %}">
    </div>
    <div class="card-text">

      <h2 class="card-title">Cranberry Sage Sausage Patties</h2>
      <p class="card-body">This easy recipe lets you create festive, flavorful, high-protein sausage patties for a holiday breakfast or a quick weeknight dinner. Our recipe uses ground turkey, but good quality pork works too. Pro tip: form these into small meatballs instead of patties for a delicious holiday appetizer and serve with keto cranberry sauce.  </p> 
      </p>   
      <br>
      <br>
      <b> Ingredients</b>
      <ul>
        <li>1 lb extra lean ground turkey</li>
         <li> ⅓ cup dried unsweetened cranberries</li>
          <li>2 tbsp fresh sage</li>
          <li>2 tsp extra virgin olive oil</li>
          <li>½ tsp sea salt</li>
      </ul>
    </div>
    
  </div>
    <div class="card">
    <div class="card-image">
      <img src="{% static 'recipe\breakfast\br2.png' %}">
    </div>
    <div class="card-text">
    
      <h2 class="card-title">Smoked Salmon Lettuce Rollup</h2>
      <p class="card-body">This smoked salmon rollup recipe is so fast and tasty, you'll wonder why you didn't think of it yourself. It reminds us of a Philadelphia sushi roll, or maybe a delicious bagel and lox, but without any of the carbs. Because it's so easy to make, it's the perfect snack between meals.
      </p>
      <br>
      <br>
      <b> Ingredients</b>
      <ul>
        <li>1 large green lettuce leaf</li>
         <li>1 ½ tbsp cream cheese</li>
  <li>1 oz smoked salmon </li>
      </ul>
    </div>
    
  </div>
    <div class="card">
    <div class="card-image">
      <img src="{% static 'recipe\breakfast\br3.png' %}">
    </div>
    <div class="card-text">
    
      <h2 class="card-title">Smoked Salmon Lettuce Rollup</h2>
      <p class="card-body">This smoked salmon rollup recipe is so fast and tasty, you'll wonder why you didn't think of it yourself. It reminds us of a Philadelphia sushi roll, or maybe a delicious bagel and lox, but without any of the carbs. Because it's so easy to make, it's the perfect snack between meals.
      </p>
      <br>
      <br>
      <b> Ingredients</b>
      <ul>
        <li>½ cup ricotta cheese</li>
          <li>2 tbsp plain Greek yogurt</li>
          <li>2 tbsp strawberries</li>
          <li>½ tsp vanilla extrac</li>
    
      </ul>
    </div>
    
  </div>
  
  <!--new added-->
  <div class="container">
    <div class="card">
      <div class="card-image">
        <img src="{% static 'recipe\breakfast\br4.png' %}">
      </div>
      <div class="card-text">
       
        <h2 class="card-title">Greek Omelet with Feta and Tomato</h2>
        <p class="card-body">This omelet recipe incorporates three of the most popular ingredients found in Greek cuisine--Feta cheese, Kalamata olives, and fresh tomatoes. You'll enjoy healthy foods found in the Mediterranean diet, along with lots of beneficial fats to hit your keto macros!</p>
        <br>
        <br>
        <b> Ingredients</b>
        <ul>
          <li>2 tbsp diced tomatoes</li>
            <li>1 tbsp chopped Kalamata olives</li>
            <li>1 tbsp crumbled Feta cheese</li>
            <li>1 ½ tsp fresh parsley, chopped</li>
            
      
        </ul>
      </div>
     
    </div>
      <div class="card">
      <div class="card-image">
        <img src="{% static 'recipe\breakfast\br5.png' %}">
      </div>
      <div class="card-text">
       
        <h2 class="card-title">Keto Banana Bread (With Real Bananas and Walnuts)</h2>
        <p class="card-body">Yes, bananas are not typically seen as keto-friendly. In fact, one large banana has around 30 grams of carbohydrates. That being said, as with most things, it's all about moderation. While this recipe does use a real banana, it uses one banana for an entire loaf of bread! Banana packs a lot of flavor. </p>
        <br>
        <br>
        <b> Ingredients</b>
        <ul>
          <li>½ tbsp unflavored gelatin </li>
            <li>2 tsp cinnamon</li>
            <li>1 tsp baking powder</li>
            <li>1 large ripe banana</li>
        </ul>
      </div>

    </div>
      <div class="card">
      <div class="card-image">
        <img src="{% static 'recipe\breakfast\br6.jpg' %}">
      </div>
      <div class="card-text">
    
        <h2 class="card-title">Keto Coconut Chocolate Chip Muffins</h2>
        <p class="card-body">Treat yourself to the delectable taste of coconut and rich chocolate with these keto chocolate chip muffins! They pack all of the flavors of an Almond Joy or Mounds candy bar within the fluffy texture of a muffin. The best part? They are only 3.8 carbs each! </p>
        <br>
        <br>
        <b> Ingredients</b>
        <ul>
          <li>½ tbsp unflavored gelatin </li>
            <li>2 tsp cinnamon</li>
            <li>1 tsp baking powder</li>
            <li>1 large ripe banana</li>
        </ul>
      </div>
      
    </div>
    <!--new3-->
    <div class="container">
      <div class="card">
        <div class="card-image">
          <img src="{% static 'recipe\breakfast\br7.jpg' %}">
        </div>
        <div class="card-text">
        
          <h2 class="card-title">
            Keto Banana Pancakes with Maple and Pecans</h2>
          <p class="card-body">Going keto means saying goodbye to high-carb fruits like bananas. Bananas nut bread and banana pancakes are a class sweet breakfast treat, but normally filled with sugar. These keto banana pancakes are the perfect low-carb alternative! They are packed with flavor</p>
        <br>
        <br>
        <b> Ingredients</b>
        <ul>
          <li>½ tbsp unflavored gelatin </li>
            <li>2 tsp cinnamon</li>
            <li>1 tsp baking powder</li>
            <li>1 large ripe banana</li>
        </ul>
        </div>
  
      </div>
        <div class="card">
        <div class="card-image">
          <img src="{% static 'recipe\breakfast\br8.jpg' %}">
        </div>
        <div class="card-text">
         
          <h2 class="card-title">Keto Porridge (Low Carb Oatmeal Alternative)</h2>
          <p class="card-body">This simple keto porridge is made with coconut flour and milled flaxseed. Enjoy this porridge for breakfast or any time of the day!</p>
          <br>
          <br>
          <b> Ingredients</b>
          <ul>
            <li>3 tbsp Milled flaxseed </li>
              <li>15 g Protein powder</li>
              <li>500g Almond powder</li>
              <li>1 large ripe banana</li>
          </ul>
        </div>
      
      </div>
        <div class="card">
        <div class="card-image">
          <img src="{% static 'recipe\breakfast\br9.jpg' %}">
        </div>
        <div class="card-text">
          
          <h2 class="card-title">Keto Bacon and Cheese Egg Bites</h2>
          <p class="card-body">This simple keto porridge is made with coconut flour and milled flaxseed. Enjoy this porridge for breakfast or any time of the day!</p>
          <br>
          <br>
          <b> Ingredients</b>
          <ul>
            <li>½ green pepper (chopped)</li>
              <li>½ red pepper (chopped)</li>
              <li>½ cup shredded cheddar cheese</li>
              <li>½ cup spinach (chopped) </li>
             
          </ul>
        </div>
        
      </div>
  </div>
</body>
</html>

<!---
https://images.unsplash.com/photo-1495195129352-aeb325a55b65?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1776&q=80



-->