<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <form>
            <label for="fname">Current Age:</label>
            <input type="text" id="age" name="age"><br>
            <label for="lname">Height:</label>
            <input type="text" id="height" name="height"><br>
            <label for="lname">Weight:</label>
            <input type="text" id="weight" name="weight"><br>
            <label for="lname">experience_ketodiet:</label>
            <input type="text" id="kdiet" name="kdiet"><br>
            <label for="lname">Number of meals:</label>
            <input type="text" id="meals" name="meals"><br>
            <label for="lname">Number of Snacks:</label>
            <input type="text" id="snacks" name="snacks"><br>
            <label for="lname">Intermittent Fasting:</label>
            <input type="text" id="fast" name="fast"><br>
            <label for="lname">Number of steps:</label>
            <input type="text" id="steps" name="steps"><br>
            <label for="lname">Exercise Days:</label>
            <input type="text" id="exdays" name="exdays"><br>
            <label for="lname">Is Smoker ?</label>
            <input type="text" id="smoker" name="smoker"><br>
            <label for="lname">Number of sleep hours:</label>
            <input type="text" id="sleep" name="sleep"><br>
            <label for="lname">Waist to height ratio:</label>
            <input type="text" id="height" name="height"><br>
            <label for="lname">Systolic BP:</label>
            <input type="text" id="sbp" name="sbp"><br>
            <label for="lname">Diastolic BP:</label>
            <input type="text" id="dbp" name="dbp"><br>
            <label for="lname">Oxygen Level:</label>
            <input type="text" id="oxy" name="oxy"><br>
            <label for="lname">Hemoglobin:</label>
            <input type="text" id="hemoglobin" name="hemoglobin"><br>
            <input type="submit" value="Submit">
          </form>


        <script src="" async defer></script>
    </body>
</html>