<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Shop\ebooks\ebooks.css' %}"> 
    <title>Ebooks</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <b><h1><center>EBooks</center></h1></b>
    <div class="product-container">

 
        <div class="product-card">
          <img src="{% static 'Shop\ebooks\e1.webp' %}" alt="Product Name" class="product-image">
          <h3 class="product-name">The Healthy Heart Diet</h3>
          <div>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          </div>
          <div class="product-price">$4.99</div>
          <button class="add-to-cart-button">Add to Cart</button>
        </div>
          
          
          
          <div class="product-card">
          <img src="{% static 'Shop\ebooks\e2.jpg' %}" alt="Product Name" class="product-image">
          <h3 class="product-name">Keto Diet</h3>
          <div>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            </div>
          <div class="product-price">
            <span class="original-price">$5.99</span>
            <span class="discount-price">$7.99</span>
          </div>
          <button class="add-to-cart-button">Add to Cart</button>
        </div>
          
          
          
          
          
          
          <div class="product-card">
          <img src="{% static 'Shop\ebooks\e3.jpg' %}" alt="Product Name" class="product-image">
          <h3 class="product-name">The Micronutrient Miracle</h3>
          <div>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            </div>
          <div class="product-price">$5.99</div>
          <button class="add-to-cart-button">Add to Cart</button>
        </div>
         
          
          
          
            
          
          <div class="product-card">
          <img src="{% static 'Shop\ebooks\e4.jpg' %}" alt="Product Name" class="product-image">
          <h3 class="product-name">The 20/20 Diet</h3>
          <div>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            </div>
         <div class="product-price">
            <span class="original-price">$6.99</span>
            <span class="discount-price">$4.99</span>
          </div>  <button class="add-to-cart-button">Add to Cart</button>
        </div>
         
          <!---new added-->
        <div class="product-card">
            <img src="{% static 'Shop\ebooks\e5.jpg' %}" alt="Product Name" class="product-image">
            <h3 class="product-name">Food Matters</h3>
            <div>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              </div>
            <div class="product-price">$5.99</div>
            <button class="add-to-cart-button">Add to Cart</button>
          </div>
           
          <div class="product-card">
            <img src="{% static 'Shop\ebooks\e6.jpg' %}" alt="Product Name" class="product-image">
            <h3 class="product-name">The Healthy Diet Recipe Book</h3>
            <div>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              </div>
            <div class="product-price">$7.99</div>
            <button class="add-to-cart-button">Add to Cart</button>
          </div>
            
            
            <div class="product-card">
            <img src="{% static 'Shop\ebooks\e7.jpg' %}" alt="Product Name" class="product-image">
            <h3 class="product-name">The Whole Body Reset</h3>
            <div>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              </div>
            <div class="product-price">
              <span class="original-price">$6.99</span>
              <span class="discount-price">$4.99</span>
            </div>
            <button class="add-to-cart-button">Add to Cart</button>
          </div>
            
          <div class="product-card">
            <img src="{% static 'Shop\ebooks\e8.jpg' %}"alt="Product Name" class="product-image">
            <h3 class="product-name">The fast 800 keto</h3>
            <div>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              </div>
            <div class="product-price">$7.99</div>
            <button class="add-to-cart-button">Add to Cart</button>
          </div>
            <!--new 3-->
          
            <div class="product-card">
              <img src="{% static 'Shop\ebooks\e9.jpg' %}" alt="Product Name" class="product-image">
              <h3 class="product-name">Recipes for Athletes</h3>
              <div>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                </div>
              <div class="product-price">$7.99</div>
              <button class="add-to-cart-button">Add to Cart</button>
            </div>
             
            <div class="product-card">
              <img src="{% static 'Shop\ebooks\e10.jpg' %}" alt="Product Name" class="product-image">
              <h3 class="product-name">The Pegan Diet</h3>
              <div>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star "></span>
                <span class="fa fa-star"></span>
                </div>
              <div class="product-price">$4.99</div>
              <button class="add-to-cart-button">Add to Cart</button>
            </div>
              
              
              <div class="product-card">
              <img src="{% static 'Shop\ebooks\e11.jpg' %}" alt="Product Name" class="product-image">
              <h3 class="product-name">Keto Meal Preparation</h3>
              <div>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                </div>
              <div class="product-price">
                <span class="original-price">$10.99</span>
                <span class="discount-price">$7.99</span>
              </div>
              <button class="add-to-cart-button">Add to Cart</button>
            </div>
              
            <div class="product-card">
              <img src="{% static 'Shop\ebooks\e12.jpg' %}" alt="Product Name" class="product-image">
              <h3 class="product-name">Essentials of Nutrition and Diet Therapy</h3>
              <div>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                </div>
              <div class="product-price">$10.99</div>
              <button class="add-to-cart-button">Add to Cart</button>
            </div>
            <!--new 4-->
            <div class="product-card">
              <img src="{% static 'Shop\ebooks\e13.jpg' %}" alt="Product Name" class="product-image">
              <h3 class="product-name">The Mind Diet</h3>
              <div>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star "></span>
                </div>
              <div class="product-price">$10.99</div>
              <button class="add-to-cart-button">Add to Cart</button>
            </div>
             
            <div class="product-card">
              <img src="{% static 'Shop\ebooks\e14.webp' %}"alt="Product Name" class="product-image">
              <h3 class="product-name">First Bite</h3>
              <div>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star "></span>
                <span class="fa fa-star"></span>
                </div>
              <div class="product-price">$7.99</div>
              <button class="add-to-cart-button">Add to Cart</button>
            </div>
              
              
              <div class="product-card">
              <img src="{% static 'Shop\ebooks\e15.jpg' %}"alt="Product Name" class="product-image">
              <h3 class="product-name">Healthy Eating Plan</h3>
              <div>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                </div>
              <div class="product-price">
                <span class="original-price">$12.99</span>
                <span class="discount-price">$10.99</span>
              </div>
              <button class="add-to-cart-button">Add to Cart</button>
            </div>
              
            <div class="product-card">
              <img src="{% static 'Shop\ebooks\e16.jpg' %}" alt="Product Name" class="product-image">
              <h3 class="product-name">How to live Vegan</h3>
              <div>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                </div>
              <div class="product-price">$8.99</div>
              <button class="add-to-cart-button">Add to Cart</button>
            </div>
        </div>
    </body>
    </html>