<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'recipe/snacks/snacks.css' %}">
    <title>Snacks</title>
</head>
<body>
<div id="header">
  <h1>Keto Snack Recipes</h1>
  
    </div>
  <div class="container">
  <div class="card">
    <div class="card-image">
      <img src="{% static 'recipe/snacks/s1.png' %}">
    </div>
    <div class="card-text">

      <h2 class="card-title">Tuna Jalapeno Poppers</h2>
      <p class="card-body">While jalapeno poppers are traditionally all about the cheese (and sometimes bacon), this version brings the protein by adding canned tuna to the filling. While they make a great appetizer or snack, the additional protein also makes these a great light lunch: just add a side salad or some avocado.</p>
      <br>
      <br>
      <b> Ingredients</b>
      <ul>
        <li>1 tbsp mayonnaise</li>
            <li>1 green onion</li>
            <li>6 jalapeno peppers</li>
            <li>2 oz mozzarella cheese</li>
       
      </ul>
    </div>
    
  </div>
    <div class="card">
    <div class="card-image">
      <img src="{% static 'recipe/snacks/s2.jpg' %}">
    </div>
    <div class="card-text">
    
      <h2 class="card-title">
        Red Curry Deviled Eggs</h2>
      <p class="card-body">This easy brunch recipe is made with keto staple foods like eggs, bacon, and spinach. It’s perfect for anyone who’s getting started on their health journey. Best served warm, this dish goes well with chicken salad and a keto-friendly fruit smoothie.
      </p>
      <br>
      <br>
      <b> Ingredients</b>
      <ul>
        <li>4 large eggs </li>
        <li>4 oz bacon </li>
        <li>1 oz parmesan cheese (or another cheese of your choice)</li>
        <li>½ tsp garlic powder</li>
 
      </ul>
    </div>
    
  </div>
    <div class="card">
    <div class="card-image">
      <img src="{% static 'recipe/snacks/s3.png' %}">
    </div>
    <div class="card-text">
    
      <h2 class="card-title">Easy Bacon-Wrapped Chicken Bites</h2>
      <p class="card-body">These bacon-wrapped chicken bites are super keto-friendly⁠—they’re completely carb-free and are high in protein and fat. For more flavor, sprinkle shredded cheddar cheese over these bites after baking and serve with your favorite low-carb sauce or mayonnaise</p>
      <br>
      <br>
      <b> Ingredients</b>
      <ul>
        <li>4 oz chicken breast</li>
             <li>4 oz thin-sliced natural bacon</li>
             <li>¼ tsp sea salt</li>
             <li>¼ tsp ground pepper</li>
    
      </ul>
    </div>
    
  </div>
  
  <!--new added-->
  <div class="container">
    <div class="card">
      <div class="card-image">
        <img src="{% static 'recipe/snacks/s4.png' %}">
      </div>
      <div class="card-text">
       
        <h2 class="card-title">3-Ingredient Zucchini Pizza Bites</h2>
        <p class="card-body">You get all of the flavors found in pizza with this easy recipes that only requires three ingredients. Traditional toppings such as pepperoni, olives, bell pepper, and Italian sausage can be added to this low-carbohydrate snack.</p>
        <br>
        <br>
        <b> Ingredients</b>
        <ul>
          <li>1 medium zucchini, cut into 1/4-inch slices</li>
            <li>¼ cup low-sugar tomato sauce</li>
            <li>¼ cup shredded mozzarella cheese</li>
            <li>Directions</li>
            
      
        </ul>
      </div>
     
    </div>
      <div class="card">
      <div class="card-image">
        <img src="{% static 'recipe/snacks/s5.png' %}">
      </div>
      <div class="card-text">
       
        <h2 class="card-title">Keto Energy Bars with Chocolate and Coconut</h2>
        <p class="card-body">Looking for a mid-afternoon pick-me-up that isn't filled with sugar? Try these keto energy bars! They are packed full of healthy fats to help give you energy and fuel your day! Plus, this recipe uses nuts and protein powder to add a bit of protein!</p>
        <br>
        <br>
        <b> Ingredients</b>
        <ul>
          <li>2 cups raw unsalted keto mixed nuts</li>
            <li>2 tbsp coconut oil, melted</li>
            <li>2 tbsp coconut butter, melted</li>
        </ul>
      </div>

    </div>
      <div class="card">
      <div class="card-image">
        <img src="{% static 'recipe/snacks/s6.jpeg' %}">
      </div>
      <div class="card-text">
    
        <h2 class="card-title">Crustless Keto Pizza Crackers</h2>
        <p class="card-body">In less than 15 minutes you could be enjoying a crustless keto pizza! This recipe is super simple and requires only 3 ingredients- cheese, pepperoni, and Italian seasoning! Try dipping each slide into sugar-free marinara sauce for a flavor that is closer to the real thing. The best part is that one slice is less than 50 calories and is packed with protein!</p>
        <br>
        <br>
        <b> Ingredients</b>
        <ul>
          <li>8 oz cheddar cheese, shredded</li>
            <li>16 whole pepperonis</li>
            <li>¼ tsp Italian seasoning</li>
        </ul>
      </div>
      
    </div>
    <!--new3-->
    <div class="container">
      <div class="card">
        <div class="card-image">
          <img src="{% static 'recipe/snacks/s7.jpeg' %}">
        </div>
        <div class="card-text">
        
          <h2 class="card-title">
            Peanut Butter Fat Bombs</h2>
          <p class="card-body">If you struggle with hitting your fat goals on the ketogenic diet, it's probably been suggested that you try making fat bombs. Fat bombs are tasty little truffles that pack in lots of healthy fat while remaining low in carbs. Since the macros of fat bombs are similar to the macros you should be eating on the ketogenic diet, they tend to be a good snack when you are trying to stay on track</p>
        <br>
        <b> Ingredients</b>
        <ul>
          <li>2 slices keto bread (0g net carb bread used)</li>
            <li>2 Mozzarella cheese slices</li>
            <li>2 Cheddar cheese slices</li>
            <li>2 tbsp butter</li>
        </ul>
        </div>
  
      </div>
        <div class="card">
        <div class="card-image">
          <img src="{% static 'recipe/snacks/s8.jpeg' %}">
        </div>
        <div class="card-text">
         
          <h2 class="card-title">Basil-Cracked Pepper Parmesan Chips
        </h2>
          <p class="card-body">Parmesan crisps are one of the fastest, easiest, and tastiest keto snacks you can make. These Parmesan chips take less than 20 minutes to make and are less than 2g of net carbs per serving!</p>
          <br>
          <br>
          <b> Ingredients</b>
          <ul>
            <li>3 ½ cups freshly grated Parmesan cheese (about 10 ounces)</li>
                <li>2 tbsp chopped fresh basil</li>
                <li>fresh cracked black pepper</li>
                <li>1 tbsp extra-virgin olive oil</li>
           
          </ul>
        </div>
      
      </div>
        <div class="card">
        <div class="card-image">
          <img src="{% static 'recipe/snacks/s9.jpg' %}">
        </div>
        <div class="card-text">
          
          <h2 class="card-title">Keto Naan Bread</h2>
          <p class="card-body">This keto naan bread is made from a dough similar to fathead dough, with a few small changes to make it a little lighter. It is the perfect substitute for your traditional naan bread, or even as a substitute for bread in sandwiches!</p>
          <br>
          <br>
          <b> Ingredients</b>
          <ul>
            <li>1 ½ cups mozzarella cheese, shredded</li>
                <li>1 egg</li>
                <li>1 tbsp heavy cream</li>
                <li>¾ cup almond flour</li>
                <li>1 tsp baking powder</li>
             
          </ul>
        </div>
        
      </div>
  </div>
</body>
</html>

<!---
https://images.unsplash.com/photo-1495195129352-aeb325a55b65?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1776&q=80



-->