<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'recipe\dinner\dinner.css' %}">
    <title>Dinner</title>
</head>
<body>
<div id="header">
  <h1>Keto Dinner Recipes</h1>
  
    </div>
  <div class="container">
  <div class="card">
    <div class="card-image">
      <img src="{% static 'recipe\dinner\d1.png' %}">
    </div>
    <div class="card-text">

      <h2 class="card-title">Meatloaf Cups</h2>
      <p class="card-body">This clever use of muffins tins creates individual mini-meatloafs that cook more quickly than regular meatloaf and are easy to pack for a lunch or snack on the go. Crushed pork rinds take the place of breadcrumbs, keeping the finished product from becoming dense or tough.  </p> 
      </p>   
      <br>
      <br>
      <b> Ingredients</b>
      <ul>
        <li>1 cup crushed pork rinds</li>
            <li>¼ cup heavy whipping cream</li>
            <li>2 garlic cloves</li>
        
            <li>¼ onion</li>
  
            <li>2 eggs</li>
           
            <li>¼ cup parsley</li>
      </ul>
    </div>
    
  </div>
    <div class="card">
    <div class="card-image">
      <img src="{% static 'recipe\dinner\d2.png' %}">
    </div>
    <div class="card-text">
    
      <h2 class="card-title">Keto Butternut Squash, Sausage, and Kale Quiche</h2>
      <p class="card-body">Butternut squash makes an easy, filling, low-carb quiche crust t Feel free to substitute cooked leftover bacon or even cooked hamburger for the sausage, if that's what you have around. Serve with a shredded Brussels sprout salad and keto croissants.
      </p>
      <br>
      <br>
      <b> Ingredients</b>
      <ul>
        <li>2 cups butternut squash</li>
             <li>10 eggs</li>
             <li>1 tsp garlic powder</li>
             <li>sea salt and black pepper to taste</li>
             <li>1 red bell pepper </li>
      </ul>
    </div>
    
  </div>
    <div class="card">
    <div class="card-image">
      <img src="{% static 'recipe\dinner\d3.png' %}">
    </div>
    <div class="card-text">
    
      <h2 class="card-title">Coconut Crusted Haddock</h2>
      <p class="card-body">If you're looking for a dish that's fast and easy but also looks and tastes fancy, this one's a winner. If you can't find or don't like haddock, feel free to use another white-fleshed fish. Just be sure to reduce the cook time for thinner fillets.
      </p>
      <br>
      <br>
      <b> Ingredients</b>
      <ul>
        <li>2 tbsp unsweetened shredded coconut</li>
            <li>1 tbsp extra-virgin olive oil</li>
            <li>1 clove garlic</li>
            <li>1 tbsp parsley</li>
    
      </ul>
    </div>
    
  </div>
  
  <!--new added-->
  <div class="container">
    <div class="card">
      <div class="card-image">
        <img src="{% static 'recipe\dinner\d4.png' %}">
      </div>
      <div class="card-text">
       
        <h2 class="card-title">Thai Coconut Chicken Curry</h2>
        <p class="card-body">Thai coconut curry is famous for a reason: it makes a delicious, creamy, satisfying meal and can be made with any combination of vegetables, meat, and seafood you want. This recipe uses chicken, bell pepper, and leek, but feel free to add mushrooms, spinach, green beans, eggplant, or anything else </p>
        <br>
        <br>
        <b> Ingredients</b>
        <ul>
          <li>2 tbsp diced tomatoes</li>
            <li>1 tbsp chopped Kalamata olives</li>
            <li>1 tbsp crumbled Feta cheese</li>
            <li>1 ½ tsp fresh parsley, chopped</li>
            
      
        </ul>
      </div>
     
    </div>
      <div class="card">
      <div class="card-image">
        <img src="{% static 'recipe\dinner\d5.png' %}">
      </div>
      <div class="card-text">
       
        <h2 class="card-title">Pan-Seared Sea Bass</h2>
        <p class="card-body">This recipe goes light on the seasoning, letting the fish shine. Oil-crisped capers add a salty tang, and lemon juice brings out the clean flavor of this flaky white fish, while chives add freshness. Try serving with roasted Brussels sprouts and a creamy keto cucumber salad.</p>
        <br>
        <br>
        <b> Ingredients</b>
        <ul>
          <li>7 oz sea bass fillet </li>
            <li>⅛ tsp sea salt </li>
            <li>1 tsp extra virgin olive oil </li>
            <li>1 tsp capers </li>
            <li>1 tsp fresh chives   </li>
        </ul>
      </div>

    </div>
      <div class="card">
      <div class="card-image">
        <img src="{% static 'recipe\dinner\d6.png' %}">
      </div>
      <div class="card-text">
    
        <h2 class="card-title">Mayo-Dijon Salmon with Broccoli</h2>
        <p class="card-body">The mayo-dijon coating on this salmon keeps it moist as it bakes and provides an easy flavor boost. In this sheet-pan dinner, salmon and broccoli go into the oven together on the same pan, minimizing cleanup and making cooking extra easy.</p>
        <br>
        <br>
        <b> Ingredients</b>
        <ul>
          <li>½ tbsp unflavored gelatin </li>
          <li>2 tbsp mayonnaise</li>
          <li>1 tbsp dijon mustard</li>
          <li>12 oz salmon fillet</li>
        </ul>
      </div>
      
    </div>
    <!--new3-->
    <div class="container">
      <div class="card">
        <div class="card-image">
          <img src="{% static 'recipe\dinner\d7.webp' %}">
        </div>
        <div class="card-text">
        
          <h2 class="card-title">
            Cajun Salmon Skewers</h2>
          <p class="card-body">Adding Cajun seasoning to your protein dresses up the dish and gives a whole new flavor profile, so it's great to have on hand. These Cajun Salmon Skewers are perfect for backyard entertaining, salad additions, or to simply whip up in 10 minutes for a fast keto snack. Don't forget a keto-friendly dipping sauce for even more fat content, or freshly squeezed lemon for added brightness.</p>
        <br>
        <br>
        <b> Ingredients</b>
        <ul>
          <li>10 oz skinless salmon filet, cut into cubes</li>
            <li>1 tbsp Cajun seasoning</li>
            <li>1 tsp extra-virgin olive oil</li>
        </ul>
        </div>
  
      </div>
        <div class="card">
        <div class="card-image">
          <img src="{% static 'recipe\dinner\d8.jpg' %}">
        </div>
        <div class="card-text">
         
          <h2 class="card-title">Keto Seven-Layer Dip</h2>
          <p class="card-body">Keto Seven-Layer Dip is a low-carbohydrate, must-have on the game day appetizer table. This recipe incorporates many of the flavors of traditional seven-layer dip but adds extra decadence with a cheesy green sauce--you won't even miss the beans!</p>
          <br>
          <br>
          <b> Ingredients</b>
          <ul>
            <li>3 tbsp Milled flaxseed </li>
              <li>15 g Protein powder</li>
              <li>500g Almond powder</li>
          </ul>
        </div>
      
      </div>
        <div class="card">
        <div class="card-image">
          <img src="{% static 'recipe\dinner\d9.jpg' %}">
        </div>
        <div class="card-text">
          
          <h2 class="card-title">Keto Grilled Chicken Fajita Kabobs</h2>
          <p class="card-body">This simple keto porridge is made with coconut flour and milled flaxseed. Enjoy this porridge for breakfast or any time of the day!</p>
          <br>
          <br>
          <b> Ingredients</b>
          <ul>
            <li>1 lb boneless, skinless chicken breast</li>
                <li>2 tbsp olive oil</li>
                <li>1 lime, zest and juice</li>
                <li>1 tbsp chili powder</li>
                <li>2 tsp cumin</li>
                <li>2 garlic cloves, minced</li>
             
          </ul>
        </div>
        
      </div>
  </div>
</body>
</html>

