<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'recipe\lunch\lunch.css' %}">
    <title>Lunch</title>
</head>
<body>
<div id="header">
  <h1>Keto Lunch Recipes</h1>
  
    </div>
  <div class="container">
  <div class="card">
    <div class="card-image">
      <img src="{% static 'recipe\lunch\l1.png' %}">
    </div>
    <div class="card-text">

      <h2 class="card-title">Cauliflower and Brussels Sprouts Gratin</h2>
      <p class="card-body">Instead of cream, tesulting in a super versatile veggie side dish that goes perfectly with a pork roast,  Our recipe uses ground turkey, but good quality pork works too. Pro tip: form these into small meatballs instead of patties for a delicious holiday appetizer and serve with keto cranberry sauce.  </p> 
      </p>   
      <br>
      <br>
      <b> Ingredients</b>
      <ul>
        <li>½ cup chicken broth</li>
         <li> 2 cloves of garlic</li>
         <li>½ cup parmiggiano reggiano
            (grated and divided)</li>
           <li>  2 tbsp crushed pork rinds</li>
       
      </ul>
    </div>
    
  </div>
    <div class="card">
    <div class="card-image">
      <img src="{% static 'recipe\lunch\l2.png' %}">
    </div>
    <div class="card-text">
    
      <h2 class="card-title">
        Baked Eggs with Bacon and Spinach</h2>
      <p class="card-body">This easy brunch recipe is made with keto staple foods like eggs, bacon, and spinach. It’s perfect for anyone who’s getting started on their health journey. Best served warm, this dish goes well with chicken salad and a keto-friendly fruit smoothie.
      </p>
      <br>
      <br>
      <b> Ingredients</b>
      <ul>
        <li>4 large eggs </li>
        <li>4 oz bacon </li>
        <li>1 oz parmesan cheese (or another cheese of your choice)</li>
        <li>½ tsp garlic powder</li>
 
      </ul>
    </div>
    
  </div>
    <div class="card">
    <div class="card-image">
      <img  src="{% static 'recipe\lunch\l3.png' %}">
    </div>
    <div class="card-text">
    
      <h2 class="card-title">Tuna in Cucumber Cups</h2>
      <p class="card-body">When you’re feeling hungry in the afternoon refreshing snack in just 15 minutes. The combination of protein from tuna and fiber from cucumbers will boost your satiety and help beat those sugar cravings. These tuna in cucumber cups are also great as an appetizer for any gathering!
      </p>
      <br>
      <br>
      <b> Ingredients</b>
      <ul>
        <li>cheddar cheese or chili powder, for garnishing</li>
          <li>2 tbsp plain Greek peppert</li>
          <li>1 tsp fresh parsley</li>
          <li>2 tbsp mayonnaise</li>
    
      </ul>
    </div>
    
  </div>
  
  <!--new added-->
  <div class="container">
    <div class="card">
      <div class="card-image">
        <img  src="{% static 'recipe\lunch\l4.png' %}">
      </div>
      <div class="card-text">
       
        <h2 class="card-title">One-Pan Italian Chicken and Veggies</h2>
        <p class="card-body">One-pan Italian chicken and veggies is fast, has a super easy cleanup, and is endlessly customizable. Swap in your favorite veggies, like okra, asparagus, or cauliflower, and season with whatever herbs suit your fancy. Serve with keto bread or rolls topped with plenty of butter.</p>
        <br>
        <br>
        <b> Ingredients</b>
        <ul>
          <li>2 tbsp diced tomatoes</li>
            <li>1 tbsp chopped Kalamata olives</li>
            <li>1 tbsp crumbled Feta cheese</li>
            <li>1 ½ tsp fresh parsley, chopped</li>
            
      
        </ul>
      </div>
     
    </div>
      <div class="card">
      <div class="card-image">
        <img  src="{% static 'recipe\lunch\l5.jpg' %}">
      </div>
      <div class="card-text">
       
        <h2 class="card-title">Wonder Bread Chaffle</h2>
        <p class="card-body">This chaffle recipe gives you a replica of white bread that tastes just like the old classic. Use your chaffles for sandwiches, burger buns, grilled Paninis, or pair them with keto syrup for a standard waffle breakfast.</p>
        <br>
        <br>
        <b> Ingredients</b>
        <ul>
          <li>1 tbsp mayonnaise</li>
            <li>2 tsp cinnamon</li>
            <li>3 tbsp almond flour</li>
        <li>  ¼ tsp baking powder</li>
        </ul>
      </div>

    </div>
      <div class="card">
      <div class="card-image">
        <img  src="{% static 'recipe\lunch\l6.jpg' %}">
      </div>
      <div class="card-text">
    
        <h2 class="card-title">Ultimate Keto Chicken Wings</h2>
        <p class="card-body">These ultimate keto chicken wings pack so much oomph, crunch, and flavor it's hard to believe it's keto! Having the taste and texture of actual breaded chicken, these are perfect for the big game day and come out beautifully in the air fryer. For those who don't prefer lactose, the heavy cream marinade can be made with dairy-free coconut milk.</p>
        <br>
        <br>
        <b> Ingredients</b>
        <ul>
          <li>12 chicken wings</li>
            <li>2 cups heavy cream</li>
           <li> ½ cup Frank's red hot sauce
            salt and pepper, to taste</li>
            <li>6 oz pork rinds</li>
        </ul>
      </div>
      
    </div>
    <!--new3-->
    <div class="container">
      <div class="card">
        <div class="card-image">
          <img  src="{% static 'recipe\lunch\l7.jpg' %}">
        </div>
        <div class="card-text">
        
          <h2 class="card-title">
            Keto Grilled Cheese Sandwich</h2>
          <p class="card-body">If you are looking for a quick and easy keto lunch for your or the kiddos, try this keto grilled cheese sandwich! It is super simple to make, but packs the buttery, cheesy, delicious flavor of grilled cheese that you know and love!</p>
        <br>
        <br>
        <b> Ingredients</b>
        <ul>
          <li>2 slices keto bread (0g net carb bread used)</li>
            <li>2 Mozzarella cheese slices</li>
            <li>2 Cheddar cheese slices</li>
            <li>2 tbsp butter</li>
        </ul>
        </div>
  
      </div>
        <div class="card">
        <div class="card-image">
          <img  src="{% static 'recipe\lunch\l8.jpg' %}">
        </div>
        <div class="card-text">
         
          <h2 class="card-title">Keto Vegetable Pie</h2>
          <p class="card-body">Eating your veggies doesn't have to be boring! Spice up your boring broccoli side dishes with this keto vegetable pie recipe! It's low-carb, tastes amazing, and is a great way to get in those micronutrients!</p>
          <br>
          <br>
          <b> Ingredients</b>
          <ul>
            <li>2 cups almond flour</li>
                <li>¼ cup chia seeds</li>
                <li>0.50 tsp xanthan gum</li>
                <li>60 g butter</li>
           
          </ul>
        </div>
      
      </div>
        <div class="card">
        <div class="card-image">
          <img  src="{% static 'recipe\lunch\l9.jpg' %}">
        </div>
        <div class="card-text">
          
          <h2 class="card-title">Philly Cheesesteak Keto Stuffed Peppers</h2>
          <p class="card-body">Peppers pack all of the flavor of a Philly Cheesesteak sub, but without all of the carbs from the bread!
            These Keto Stuffed Peppers at the beginning of the week, pair with a side of cauliflower rice, and you have a simple, re-heatable, and delicious keto lunch all prepped!</p>
          <br>
          <br>
          <b> Ingredients</b>
          <ul>
            <li>4 whole green bell peppers</li>
                <li>1 lb sirloin steak, slices</li>
                <li>2 tbsp olive oil</li>
                <li>1 small, onion </li>
             
          </ul>
        </div>
        
      </div>
  </div>
</body>
</html>

<!---
https://images.unsplash.com/photo-1495195129352-aeb325a55b65?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1776&q=80



-->