.heading{
    display: flex;
}

#login_signup{
    margin-left: 900px;
    margin-top: 25px;
}

#navbar{
    display: flex;
}

#flexview{
    display: flex;
}

#rightalign
{
    margin-left: 20px;
}

#but0
{
    margin-left: 30px;
}
#but1
{
    margin-left: 15px;
}

#but2
{
    margin-left: 15px;
}

#but3
{
    margin-left: 15px;
}

#but4
{
    margin-left: 15px;
}